/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

/* =============================================
   Import Normalize.css RESET */
@import "normalize";


/*	=====================================================
	Basic format
	=======================================================*/

/* =============================================
   SASS Variables */

$main-color: #760000;
$main-background-color: white;
$light-grey: #f2f2f2;
$dark-grey-background: #595959;
$borderRightColor: #8e0000;

a { color: $main-color + #111; }
a:visited { color: $main-color + #555; }
a:focus { outline: thin dotted; }
a:hover { color: darkblue; }
a:hover, a:active { outline: 0; }

@mixin borderTopRight {
    border-top: 2px solid $main-color;
	border-right: 1px solid $borderRightColor;
}


/* =============================================
   1. body */
body {
   background-color: $dark-grey-background;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}

#container p {
    line-height: 1.5em;
    margin: 1.5em 0;
}


/*	=====================================================
	E N D  base.css
	=======================================================*/



/* =============================================
   Import BLUEPRINT framework */
@import "blueprint";



/* =============================================
   Import Grid for DEVELOPMENT ONLY */
@import "grid";



/* =============================================================================
   Own styles
   Author: LostRonin
   ========================================================================== */

/* ==================
   Main page Elements      */

.container {
    background-color: $main-background-color; /* ENABLE FOR GRID-TESTING */
}


.header {
	background-color: $main-background-color;
	height: 172px;
}


.login_box_left {
	background-color: $main-background-color; /* white */
	border-top: 1px solid $main-color;
	color: black;
    height: 30px;
	margin: 0;
	padding: 15px 0 0 10px; /* crumbs are indented 10 px from the left border */
}


.login_box_right {
	background-color: $main-background-color; /* white */
	border-top: 1px solid $main-color;
	color: black;
    height: 30px;
	margin: 0;
    padding: 15px 10px 0 0;	/* user name is indented 10 px from the right border */
}


/* left Sidebar for Homepage */
.sidebar1 {
	background-color: $light-grey;
	border-top: 3px solid $main-color;
	border-right: 2px solid #8e0000;
    height: auto;
    padding-bottom: 20px;
    width: 228px;
}


/* mainContent for Homepage */
.mainContent {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
	border-right: 2px solid #8e0000;
    width: 468px;
}


/* mainContent for all Subpages */
.mainContentSub {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 710px;
	/*border-right: 2px solid #8e0000;*/
}

.ie6 .mainContentSub {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 708px;
	/*border-right: 2px solid #8e0000;*/
}

.ie7 .mainContentSub {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 708px;
	/*border-right: 2px solid #8e0000;*/
}

.ie8 .mainContentSub {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 708px;
	/*border-right: 2px solid #8e0000;*/
}

.ie9 .mainContentSub {
	background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 708px;
	/*border-right: 2px solid #8e0000;*/
}

/* right Sidebar for Homepage */
.sidebar2 {
    background-color: $main-background-color;
    border-top: 3px solid $main-color;
}

.ie6 .sidebar2 {
    background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 209px;
}

.ie7 .sidebar2 {
    background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 209px;
}

.ie8 .sidebar2 {
    background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 209px;
}

.ie9 .sidebar2 {
    background-color: $main-background-color;
    border-top: 3px solid $main-color;
    width: 209px;
}


.footer {
	background-color: $light-grey;
	border-top: 1px solid $main-color;
    font-size: .8em;
    line-height:  1.666em;
    height: 55px;
}


.footer_address {
	padding: 20px 0;
    margin: 0px auto;
}


/* =====================
   Page Styling Elements      */


.ad_box     /* check if this is still used */
{
    float: right;
    width: 400px;
    margin: 30px 20px 10px 0;
    padding: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	line-height: 130%;
	font-weight: normal;
	letter-spacing: 1.2px;
	text-align: justify;
    background: $main-color;
    color: white;
}


.addthis_box  /*centers addThis button to middle of Sidebar2 container */
{
    padding: 20px 0 5px 0;
    margin: 0 auto;
    width: 200px;
}


.arrow_right{
	border: 1px solid #CCC;
	margin-top: 5px;
	margin-right: 30px;
}


.arrow_left{
	border: 1px solid #CCC;
	margin-top: 5px;
}


.chapterinfo{
    color: $main-color;
    font-weight: bold;
    height: 30px;
    letter-spacing: 0.2em;
    margin-top: 10px;
    padding: 10px;
}


.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0;
}


.contactbox {           /* used for contact form */
    height: 600px;
    margin: 0 auto;
    width: 440px;
}


.contactbox_login {           /* used for login form */
    margin-top: 50px;
    margin: 0 auto;
    width: 320px;
}


.contactbox2 {
    height: 650px;
    margin: 0 0 0 30px;
}


.if_inline {
	background-color: white;
	width: 697px;
	height: 550px;
	border: 1px solid #ff0000;
	overflow: auto;
}


.inputButton
{
	border: none;
	background: $main-color;
	color: #fff;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 20px;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}


.main_boxes {

    padding-left: 50px;
    width: 200px;
}


.news_box {
	background-color: $light-grey; /*light grey*/
	border: 1px solid $main-color;
	font-size: .9em;
    line-height: 1.66em;
    margin: 0 15px 15px 4px;
	padding: 0 15px;
    text-align: justify;

}


.online {
    background-color: $main-color;
    border: 2px solid $main-color;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 auto;
    margin-bottom: 10px;
	padding: 5px;
    width: 160px;
}


.paypal_box
{
	display: block;
	margin: 0 auto;
    padding: 10px;
    width: 190px;
}


.rating_box {
    height: 30px;
    margin-top: 5px;
    padding: 10px;
}


.signupform {
	border: 2px solid $main-color;
    padding: 10px 20px;
    margin: 5px auto;
    margin-top: 40px;
    width: 320px;
}


.story_container
{
    width: 660px;
    height: 700px;
    padding: 0 25px 5px 5px;
    background-color: #FFF;
    overflow: scroll;
    overflow-x: hidden;
}


.story_link{
    border:  2px solid $main-color;
    font-size: 110%;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 200px;
}


.story_overview {
	border-top: 1px solid $main-color;
    margin-bottom: 30px;
    width: 620px;
}


.story_overview2 {
	border-top: 1px solid $main-color;
	border-top: 1px solid $main-color;
    margin-bottom: 20px;
	padding: 15px 0 0 5px;
    width: 620px;
}


.tag_box
{
    background-color: white;
    min-height: 160px;
	margin: 0 auto;
    padding: 10px;
    width: 190px;
}


.tag_results
{
    width: 650px;
	padding: 10px;
    font-size: .9em;
    line-height: 1.61em;
    margin: 1.61em 0;
	background-color: $light-grey;
}


.logoutform {
	border: 1px solid $main-color;
	margin-top: 10px;
	margin-left: 50px;
	padding: 0;
	color: $main-color;
}


.flash_warning
{
    color: $main-color;
    font-weight: bold;
    font-size: large;
    padding: 5px 5px 10px 5px;
}


.box_shadow
{
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}


.push_favs{
    padding-left: 80px;
}


/* *********/
/* Borders */
/* *********/

.borderform {
	border: 1px solid $main-color;
}


.gallery_border {
    border: 1px solid $main-color;
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
}


.gallery_border2 {
    width: 450px;
    margin-left: 60px;
    border: 1px solid $main-color;
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
}

.openborder {
	border-top: 3px solid $main-color;
	border-right: 2px solid $main-color;
}


.pagination_border {
    padding: 5px 5px 0 5px;
	margin-right: 15px;
}


.tags_border {
    border: 1px solid $main-color;
	padding: 5px;
}


/* *****************/
/* Forms and Input */
/* *****************/

#acceptTerms {
    margin:15px 0 10px 0;

}


input.text {
    border:solid 1px #444;
    font-size: 14px;
    width: 90%;
    padding: 7px 8px 7px 10px;

    text-shadow:0px 1px 0px #FFF;
    -moz-box-shadow: 0px 1px 0px #777;
    -webkit-box-shadow: 0px 1px 0px #777;
    box-shadow: 0px 1px 0px #777;
 }


#login{
    color: black;
    background: white;
    border: solid 1px grey;
    margin: 10px;
    position: absolute;
    width: 550px;
    z-index:0;
}


#login fieldset {
    padding: 20px;
    height: 160px;
    margin: 40px 20px 30px 20px;
}


#login h2
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 30px 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


#login h6
{
    text-shadow: 0 0.2px 0 rgba(255, 255, 255, .7), 0px 0.2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 15px 0 15px 0;
    letter-spacing: 4px;
    font: normal 13px/1 Verdana, Helvetica;
    position: relative;
}

#login h2:after, #login h2:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;
}

#login h2:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

#login h2:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}



#registration{
    color: black;
    background: white;
    border: solid 1px grey;
    height: 1040px;
    position: absolute;
    width: 550px;
    z-index:0;
}


#registration fieldset {
    padding: 20px 5px 0 20px;
    margin-right: 20px;
    margin-left: 20px;
}


#registration h2
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 30px 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


#registration h6
{
    text-shadow: 0 0.2px 0 rgba(255, 255, 255, .7), 0px 0.2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 15px 0 15px 0;
    letter-spacing: 4px;
    font: normal 13px/1 Verdana, Helvetica;
    position: relative;
}

#registration h2:after, #registration h2:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;
}

#registration h2:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

#registration h2:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}




/* ********/
/* Images */
/* ********/

.image_left {
	margin: 20px 20px 20px 0;
	float: left;
	padding: 5px;
	border-top: 1px solid $main-color;
	border-right: 1px solid $main-color;
	cursor: url("../img/magplus.cur"), pointer /* used for POPBOX-Scrip */
}


.image_right {
	margin: 20px 0 20px 20px;
	float: right;
	padding: 5px;
	border-top: 1px solid $main-color;
	border-left: 1px solid $main-color;
	cursor: url("../img/magplus.cur"), pointer  /* used for POPBOX-Scrip */
}


.image_story_left {
	margin: 0 20px 20px 0;
	float: left;
	padding: 5px;
	border-top: 1px solid $main-color;
	border-right: 1px solid $main-color;
	cursor: url("../img/magplus.cur"), pointer /* used for POPBOX-Scrip */
}


.image_story_right {
	margin: 0 0 20px 20px;
	float: right;
	padding: 5px;
	border-top: 1px solid $main-color;
	border-left: 1px solid $main-color;
	cursor: url("../img/magplus.cur"), pointer  /* used for POPBOX-Scrip */
}


/* **** */
/* MENU */
/* **** */

.menu
{
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
	width:14em; /* controls the width of the main menu */
}

.menu ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu a, .menu h2, .menu  .current, .menu  .parent
{
	border-color:#CCCCCC rgb(136, 136, 136) rgb(85, 85, 85) rgb(187, 187, 187);
    border-style:solid;
	border-width:1px;
	display:block;
	font-size:1.1em;
    line-height: 1.36em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:16px;
	margin:1px;
	padding:11px 5px;
}

.menu h2
{
	background:$main-color none repeat scroll 0;
	color:#FFFFFF;
	text-transform:uppercase;
}

.menu a, .menu  .current, .menu  .parent
{
	background:white none repeat scroll 0;
    color: black;
    letter-spacing: .2em;
	text-decoration:none;
}

.menu a:hover, .menu  .current, .menu .parent:hover  {
	background:#FFFFFF none repeat scroll 0;
    font-weight: bold;
    color:$main-color;
    border-color: $main-color;
}
.menu li {
	position:relative;
	padding:0; margin: 0;
}

.menu ul ul ul {
	left:100%;
	position:absolute;
	top:0;
    width:125%;
}

div.menu ul ul ul, div.menu ul ul li:hover ul ul {
	display:none;
    z-index:5000; /*controls that child menus are above other elements*/
}

div.menu ul ul li:hover ul, div.menu ul ul ul li:hover ul {
	display:block;
}



/* ********** */
/* TAG CLOUD */
/* ********** */



.fs1{font-size:0.75em; color:#505050; padding: 3px 3px 3px 3px;}
.fs2{font-size:0.7857em; color:#505050; padding: 3px 3px 3px 3px;}
.fs3{font-size:0.8214em; color:#505050; padding: 3px 3px 3px 3px;}
.fs4{font-size:0.8571em; color:#505050; padding: 3px 3px 3px 3px;}
.fs5{font-size:0.8929em; color:#505050; padding: 3px 3px 3px 3px;}
.fs6{font-size:0.9286em; color:#505050; padding: 3px 3px 3px 3px;}
.fs7{font-size:0.9643em; color:#505050; padding: 3px 3px 3px 3px;}
.fs8{font-size:1em; color:#505050; padding: 3px 3px 3px 3px;}
.fs9{font-size:1.0357em; color:#505050; padding: 3px 3px 3px 3px;}
.fs10{font-size:1.0714em; color:#505050; padding: 3px 3px 3px 3px;}
.fs11{font-size:1.1071em; color:#505050; padding: 3px 3px 3px 3px;}
.fs12{font-size:1.1429em; color:#505050; padding: 3px 3px 3px 3px;}
.fs13{font-size:1.1786em; color:#505050; padding: 3px 3px 3px 3px;}
.fs14{font-size:1.2143em; color:#505050; padding: 3px 3px 3px 3px;}
.fs15{font-size:1.25em; color:#505050; padding: 3px 3px 3px 3px;}
.fs16{font-size:1.2857em; color:#505050; padding: 3px 3px 3px 3px;}
.fs17{font-size:1.3214em; color:#808080; padding: 3px 3px 3px 3px;}
.fs18{font-size:1.3571em; color:#808080; padding: 3px 3px 3px 3px;}
.fs19{font-size:1.3929em; color:#808080; padding: 3px 3px 3px 3px;}
.fs20{font-size:1.4286em; color:#808080; padding: 3px 3px 3px 3px;}
.fs21{font-size:1.4643em; color:#808080; padding: 3px 3px 3px 3px;}
.fs22{font-size:1.5em; color:#808080; padding: 3px 3px 3px 3px;}
.fs23{font-size:1.5357em; color:#808080; padding: 3px 3px 3px 3px;}
.fs24{font-size:1.5714em; color:#808080; padding: 3px 3px 3px 3px;}
.fs25{font-size:1.6071em; color:#808080; padding: 3px 3px 3px 3px;}
.fs26{font-size:1.6429em; color:#808080; padding: 3px 3px 3px 3px;}
.fs27{font-size:1.6786em; color:#808080; padding: 3px 3px 3px 3px;}
.fs28{font-size:1.7143em; color:#808080; padding: 3px 3px 3px 3px;}
.fs29{font-size:1.75em; color:#808080; padding: 3px 3px 3px 3px;}
.fs30{font-size:1.7857em; color:#808080; padding: 3px 3px 3px 3px;}
.fs31{font-size:1.8214em; color:#808080; padding: 3px 3px 3px 3px;}
.fs32{font-size:1.8571em; color:#808080; padding: 3px 3px 3px 3px;}
.fs33{font-size:1.8929em; color:#808080; padding: 3px 3px 3px 3px;}
.fs34{font-size:1.9286em; color:#808080; padding: 3px 3px 3px 3px;}
.fs35{font-size:1.9643em; color:#808080; padding: 3px 3px 3px 3px;}
.fs36{font-size:2em; color:#808080; padding: 3px 3px 3px 3px;}
.fs37{font-size:2.0357em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs38{font-size:2.0714em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs39{font-size:2.1071em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs40{font-size:2.1429em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs41{font-size:2.1786em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs42{font-size:2.2143em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs43{font-size:2.25em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs44{font-size:2.2857em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs45{font-size:2.3214em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs46{font-size:2.3571em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs47{font-size:2.3929em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs48{font-size:2.4286em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs49{font-size:2.4643em; color:#E0E0E0; padding: 3px 3px 3px 3px;}
.fs50{font-size:2.5em; color:#E0E0E0; padding: 3px 3px 3px 3px;}

#tagcloud a{ text-decoration:none; }
#tagcloud a:hover{ text-decoration:none; color:$main-color; }


/* ********** */
/* TYPOGRAPHY */
/* ********** */

address {
   font-size: 85%;
   font-style: normal;
   letter-spacing: 2px;
   text-align: center;
}


.crumbs_font {
	letter-spacing: .1em;
	line-height: 1.2em;
    font-size: .8em;
    a { color: $main-color; text-decoration: none; }
    a:visited { color: $main-color; text-decoration: none; }
    a:hover, a:active { color: $main-color; text-decoration: none;}
}


.caption{
    font-size: 1.3em;
    line-height:  1.15em;
    font-weight: 700;
}


.caption_inverse{
    color: $main-color;
    font-size: 130%;
    font-weight: bold;
}



.caption2{
    color: $main-color;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
}


.caption3{
    color: $main-color;
    font-size: .9em;
    line-height: 1.666em;
    font-weight: 700;
}


.caption4{              /* used in Sexy Photos Gallery */
    color: grey;
    font-size: .9em;
    line-height: 1.666em;
    font-weight: normal;
    width: 550px;
}


.introduction {
	color: $main-color;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 1em 0em 1em 0em;
    padding: 0 55px 5px 55px;
	text-align: justify;
}


/* Leitbuchstabe am Anfang der Story */
.leading {
    color: black;
    float: left;
    font-family: Times, Georgia, serif;
    font-size: 3.5em;
    padding-top: .35em;
    padding-right: .1em;
}


.maintext {
    font-size: 1em;
	letter-spacing: 0.1em;
	line-height: 1.4em;
    padding: 0 20px;
   	text-align: justify;
}


.paginationFont{
    color: $main-color;
    font-height: 1.875em;
    margin: 3.75em 0;
    font-size: 0.8em;
    text-align: center;
}

.paypaltext
{
    color: $main-color;
    font-weight: normal;
    font-size: .9em;
    @include borderTopRight;
    line-height: 1.66em;
    margin: 0 auto;
	padding: 15px 15px 0 15px;
    text-align: justify;
    width: 190px;
}


#quote {                /* used to format the blockquote in the stories */
    width: 200px;
    font-size: 2em;
    line-height: 1.2em;
    font-family: Times, Georgia, serif;
    margin: 0px;
    padding: 0 30px 20px 0;
    border-left: none;
    quotes: "\201C" "\201D";
}
blockquote:before { content: open-quote; font-size: 1.2em; font-weight: bold; }
blockquote:after { content: close-quote; font-size: 1.2em; font-weight: bold; }


#quote_end {                /* used to format the blockquote in the stories */
    font-family: Times, Georgia, serif;
    font-size: 3em;
    font-style: italic;
    letter-spacing: 0.3em;
    line-height: 1.3em;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

#quote_right {          /* used to format the blockquote in the stories */
    float: right;
    width: 200px;
    font-size: 2em;
    line-height: 1.2em;
    font-family: Times, Georgia, serif;
    margin: 0px;
    padding: 0px 10px 20px 30px;
    border-left: none;
    quotes: "\201C" "\201D";
}
blockquote:before { content: open-quote; font-size: 1.2em; font-weight: bold; }
blockquote:after { content: close-quote; font-size: 1.2em; font-weight: bold; }


.story_format {
    font-size: 1.2em;
    font-family: Garamond, Georgia, Times, "Times New Roman", serif;

    p {
        line-height: 1.25em;
        margin: 1.25em 0;
    }
}


.textbox {
    float: right;
    margin: 1.66em 15px 1.66em 0;
    width: 270px;
	font-size: .9em;
	line-height: 1.66em;
	font-weight: normal;
	letter-spacing: 1.2px;
	text-align: justify;
}

.textbox1 {
    margin: 1.66em 0 0 0;
	font-size: .9em;
	line-height: 1.66em;
	font-weight: normal;
	letter-spacing: 1.2px;
}

.textbox2 {
	font-size: 110%;
	line-height: 130%;
	font-weight: normal;
	letter-spacing: 1.2px;
}


.textbox3 {             /* used for rambling text in comments section */
    padding: 20px 50px 20px 20px;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	letter-spacing: 1.2px;
	text-align: justify;
}


.textbox4 {             /* used in registration legal disclaimer */
    width: 470px;
	font-size: .9em;
	line-height: 1.3em;
	font-weight: normal;
	letter-spacing: .07em;
	text-align: justify;
}


.textbox5 {
    margin: 20px 30px 0 60px;
    width: 400px;
	font-size: 100%;
	line-height: 130%;
	font-weight: normal;
	letter-spacing: 1.2px;
	text-align: justify;
}


.textbox6 {
    margin-left: 10px;
    width: 350px;
	font-size: 95%;
	line-height: 160%;
	font-weight: normal;
	letter-spacing: 1.3px;
	text-align: justify;
}






/* ========================
   Comments*/

.emWrapper{
    height: 70px;
    width: 650px;
}

.emGravatar{
    margin: 6px 0px 2px 30px;
    padding-top: 0px;
    clear: left;
    float: left;
    display: block;
}


.emGravatarRamblings{
    margin: 6px 0px 2px 64px;
    padding-top: 0px;
    clear: left;
    float: left;
    display: block;
}

.emComment{
    margin: 5px 90px 2px 0px;
    width: 440px;
    font-size: .8em;
    line-height: 1.5em;
	text-align: justify;
    background-color: #ECEFF5;
    border-bottom: 1px solid #E5EAF1;
    float: right;
    clear: right;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    color: #333;
}


.emCommentRamblings{
    margin: 5px 55px 2px 0px;
    width: 440px;
    font-size: .8em;
    line-height: 1.5em;
	text-align: justify;
    background-color: #ECEFF5;
    border-bottom: 1px solid #E5EAF1;
    float: right;
    clear: right;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    color: #333;
}


.emTitle{
    margin-top: 15px;
    padding: 10px 0 0 10px;
    font-weight: bold;
    font-size: 90%;
}

/* =============================================================================
   End of Own styles
   Author: LostRonin
   ========================================================================== */









/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

